
            h1
            {
                color: red ;
                font-size: 300% ;
                font-weight: normal ;
            }
            #shopping_list
            {
                color:green;
                background-color: rgb(211,211,211);
                width: 50%;
                height:50%;
            }
            #second_paragraph
            {
                color: blue;
            }
            span
            {
                font-style: italic;
                font-weight: bold;
                background-color: lightblue;
            }
          
